In [10]:
import pandas as pd
import numpy as np
import string
import random

In [25]:
def gen_word(l):
    return ''.join(random.choice(string.ascii_uppercase + string.digits) for _ in range(l))
# generate simple data
np.random.seed(123)
size = 100
id = np.arange(size).astype(int)
name = [gen_word(3) for i in range(100)]
surname = [gen_word(5) for i in range(100)]
pet = [gen_word(2) for i in range(100)]
married = (np.random.rand(size)+0.5).astype(int).astype(bool)

In [26]:
df = pd.DataFrame({'id':id, 'name':name, 'surname':surname, 'pet':pet, 'married':married})
df.to_csv('./small_dataset.csv', index=False)

In [27]:
df.dtypes

id          int64
name       object
surname    object
pet        object
married      bool
dtype: object

In [24]:
df.head()

   id name surname pet  married
0   0  MVU   F5351  L8     True
1   1  HYT   R7SGZ  BU    False
2   2  6TR   PG74Y  C8    False
3   3  LA2   DXQWH  G0     True
4   4  O5E   M08XL  QU     True